target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.settings/
.classpath
.project

# Ignore the data folder which contains the H2 database
data/

**/node_modules/
**/node/

**/bundle.js
**/bundle.js.map

**.log*

**/auth0-variables.js
**/auth0.properties
